
div{

    border: 1px solid black;
}

#main-div{    display:           grid;     grid-template-columns: repeat(4, 1fr);}
#main-div{    width:             999px;   margin:auto;}


#div3    {    grid-column:       2/5;      height: 75;}
#div4    {    grid-column:       1/2;      height: 85;}
#div5    {    grid-column:       2/3;      height: 85;}
#div6    {    grid-column:       3/4;      height: 85;}
#div7    {    grid-column:       4/5;      height: 85;}
#div8    {    grid-column:       1/5;      height: 100;}
#div10   {    grid-column:       1/5;      height: 500;}
#div11   {    grid-column:       1/2;      height: 80;}
#div12   {    height:            55px;    border-color:rgb(255, 255, 255) }
#div13   {    grid-column:       2/3;      height: 80;}
#div14   {    grid-column:       3/4;      height: 80;}
#div15   {    grid-column:       4/5;      height: 80;}
img      {    border-radius:     50%;      width: 200px;    height: 200px;    margin-top:15; margin-right:25; margin-left: 25;}
  
#div3{ text-align:center; background-color: rgb(255, 255, 255); border-radius: 95px; margin-top:75px; border-color: white;}
#div4{ text-align:center; background-color: skyblue; border-radius: 40px; margin-top:15px; margin-left: 85px; margin-bottom: 15; border-color: white; width: 103px;}
#div5{ text-align:center; background-color: skyblue; border-radius: 40px; margin-top:15px; margin-left: 75px; border-color: white; width: 125px;}
#div6{ text-align:center; background-color: skyblue; border-radius: 40px; margin-top:15px; margin-left: 65px; border-color: white; width: 135px;}  
#div7{ text-align:center; background-color: skyblue; border-radius: 40px; margin-top:15px; margin-left: 55px; border-color: white; width: 135px;}

.dropdown{
    display: inline-block;
}

.dropdown button{
    background-color: rgb(255, 166, 0);
    color: rgba(0, 0, 0, 0.781);
    padding: 10px 15px;
    border: none;
    cursor: pointer;
    border-radius: 25px;

}

.dropdown a{
    display: block;
    color: black;
    text-decoration: none;
    padding: 10px 15px;
}
 
.dropdown .content {
    display: none;
    position: absolute;
    background-color: rgb(255, 255, 255);
    min-width: 100px;
    box-shadow: 2px 2px 5px  rgba(0, 0, 0, 0.418);
}

.dropdown:hover .content{ 
    display: block;
}
.dropdown:hover button{
    background-color: rgb(255, 255, 255);
}
.dropdown a:hover{
    background-color: rgb(252, 252, 252);}
